@import '../css/variables.scss';

* {
  box-sizing: inherit;
  min-width: 0;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto',
    'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  text-rendering: optimizeLegibility;

  @media ($media-breakpoint-lg) {
    font-size: $font-sizes-body;
  }
}

.container {
  overflow-x: hidden;
}
