{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties"
  ],
  "env": {
    "esm": {
      "presets": [
        ["@babel/preset-env", { "modules": false }],
        "@babel/preset-react"
      ]
    },
    "one-page": {
      "presets": [
        ["@babel/preset-env", { "modules": false }],
        "@babel/preset-react"
      ],
      "plugins": [
        ["transform-react-remove-prop-types", { "removeImport": true }],
        ["rewrite-require", {
          "aliases": {
            "react": "https://unpkg.com/es-react@16.8.60/src/react.js",

            // TODO(ONE-PAGE): Remove all of the below once published.
            "react-spring": "https://unpkg.com/react-spring?module",
            "prism-react-renderer": "https://unpkg.com/prism-react-renderer?module",
            "prism-react-renderer/themes/vsDark.js": "https://unpkg.com/prism-react-renderer/themes/vsDark.js?module"
          }
        }]
      ]
    }
  }
}
