{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "babel-plugin-emotion"
  ],
  "env": {
    "esm": {
      "presets": [
        ["@babel/preset-env", { "modules": false }],
        "@babel/preset-react"
      ]
    }
  }
}
