{
  "root": true,
  "parser": "babel-eslint",
  "extends": ["prettier", "prettier/react", "plugin:react/recommended"],
  "plugins": ["prettier", "react-hooks"],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "globals": {
    "expect": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "generators": true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "prettier/prettier": ["error"],
    "quotes": ["error", "single", { "allowTemplateLiterals": true }]
  }
}
