# dependencies
/node_modules
/*/node_modules
package-lock.json

# testing
/coverage
test/screenshots

# production
/dist
/tmp
/docs/tmp

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
\.hg
.idea
.vscode

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# build
coverage
Procfile
build
dist
lib
es
