language: node_js

node_js:
  - 4.2
  - 5
  - 6

# Use container-based Travis infrastructure.
sudo: false

branches:
  only:
    - master

notifications:
  email:
    on_success: change
    on_failure: always

before_install:
  - npm install -g npm@3
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

script:
  - npm run lint
  - npm run test