language: node_js

node_js:
  - '10'
  - '12'
  - '13'

# Use container-based Travis infrastructure.
sudo: false

branches:
  only:
    - master

env:
  global:
    # **Staging**: surge (`Surge.sh`)
    # SURGE_LOGIN
    - secure: "vYutiYNUJXdHSibmQ5vPtENVunHOk0ccXUHMeNUZdhZGGIc9sQayo6NNI7lxZkaeIi4dZPeYz9fKqmdG1g4x4O5xd5A5ECNL0mrj5Bs2LMRdHZqD+mihP+/78vWXAb31NqSRpdlisv5/alQof+9nC3lnihWiV9Oj9vIlK+f1gqlo+L1HkXZn+SJ5RxOcHMN4j3Vxi+6EElWnRYUGYkKCjo+UJg+mMC0eS0Juttc6/mWNX6yGoxrnH0koBELYPwGBWOYlRqT0ORTHxN1QmiP9erPXO/hLeQfBTi95ksIMeH2+W2CGKzRgrQT5ewH++NndauETy8psLD2Bpg/Q0AYaCPNiW4hT61uh0OdVUzO1J2N3ahN83om7aMmJ9Bpu+eMu2RhDnCHuLvm8o5bHyl5lE3GVV60hGS9bIfHaH/ci/yY2OI/bIXkdsqppOGGJQu7aEBLqaa0Ed+3LHe8Yu4kz1i7UAW8u3WjIeNRXeWvSlSPldihBbGaJhcZauduQ+rbwvzWeSl6eKVFipn21flpcIKPqnSDqlAW07G4Kz5KZqISaRhzd9ABBM7nh7zwbF70jj8w8jnz5duPgdETfxqlPxoCcI8mT+So3u7nDk3sPy2Ofj4stxljBeFJmEb8E0VgiZTUnG2gwFD0Jbqa2PnKx6eQ1e9+tocCCAwwoVD7CqJ8="
    # SURGE_TOKEN
    - secure: "lImF1waoeTdtHPHdcgkTtJX51aHkOsUU/3kznL5jT6DzJnfQAy6j5yqD4dcTgfrN9OqSvocnY2dXou0SSPrshB70YvMMMaYI0r6PNAmqYN2OvkrFNg1I2T11s66odbk3OifzgTiMPeQisxHtrPKlqjVsO+ruvuTBY1J+SK6Y8wjtZ5KjHHdY8J1Rr0puI1fkOyJgXijnxrCU/MRQ2/4s4fxe7BCc3RrauBcnFYNdljebkEQWHQ1Qs2ZxO2AAOvx6CazaMBPd49iKrCEevivmixH/c/UXH7jjp8+Z6m8WOX2fj/NijOGc0ASJwCvHYejCRduM1JxjRTqufA7J1Be4pjI7NHTyQmCzMlEQO7YysfaVrIvbSZ1ohTZD4WG1nPK28pQwPVELDMNngpXcRZ95ubSMamc7p9+hfL0AubqzI7ULWiiLRAYTQfTmCcrS1GllqOVCoICtJ/ymTtVFQoyVEi+SgBxQBwPkvUoZsDzHCrYKQ2o1F4sDBNdbEFNzf81yM8q7gmQnkM2JGdqwK/dFz/38jXojVhpzociZio5fwwE2F3EanKCow0Puxj8YVmqCw6mfq4L4r0p5LcsZ+NrXZum1mL0vrv+Mwy2odhVXX1rBoG1DKCM3bSCafsx0m9Kgh7er+1yI9Q+IqmiK+rVTuq6nSBg5K5gL/rPL6on5JTI="

    # **Production**: AWS (`spectacle-ci`, "CI" keys)
    # AWS_ACCESS_KEY_ID
    - secure: "WkiLFFTXdyLOguGxaHul2a6DG+kts4qa9MOVR0NqI9T5D9jpudjNEuLV/zRPIhn3Zvhc5eZxh8Wt3W9S2cM3OXz8r1i32nc8IMPBq2FlwWowMCGT7fLkDZCJ70sF6njsowatqCgohzX+PokgZD2GRy7D3gu3zPFpZYmvCo35ppI6CbrLjHf0kP1F5Dzds5nJCRM0ikOWD3aIcPLlXH0LrLvyAfkbsFZLBUlRcwECKxynQ8B7PJCxIQM1fLWUNIsTudxDXAcKZCHvZg9ll7GbtmBIjW65deO2WRok3jqDGTQXz8Slga+gA3eN3or9dG5sVdML41u2xu31YXJIeORu6sjhul53T8Ef+AEwMohH0QLCPQzPZPiZL9Vx747dLPUwbNxX9H5TGUhMHvuAh8dVDsJg6qXtykLJJ/yZuPy60ST6ZeMBUfqOGwTx9m4sojr86Q7qHgrciiYYFt54FoNk8NH4tc73Khb+zw5cGsqAUSFY1O6vXy2ORVyIjkzX/61gokkM9JIp1Q4mU9urUuJh9tIxK5VyhjsWEelVNPs6c7IgDJXmbSzezqjL+8GjoSeGnwdiOESN4BBXkmK7Or2D2MU2tvyVn9Owl8H8zPulU/LPLJBFHQ1Ns9wyEnsGz8R+zwJmtonbkpcMGoxuSi2vn6Wq04StNutRgW9oUfsk1Cs="
    # AWS_SECRET_ACCESS_KEY
    - secure: "TW1h3Zy+pK5awk7flJV4YvWtWyJykAc/hM4OG3uXSnJBHKEttfE3R7Hu5HnrhNvcbj1G7gQW7aPA0/1DSq4pvGNWUo77wbeNVcRuuweJM+5/va94DcX8RVMcR13Czl8xtT5I5HSUgQ/VshzUWq6pI6VFKdNu0HwZ+NBV+bk8Si6F6GHMD6IfzmdvTjPoAg58R1maW1WcBcxYrhZ+I8b66mYlQrMPzy46o0YL5uP3ypXXceKdXtGiFLrtZJYzaOxa4T9xByStYxxNT/vb0GqATc8Qw4c3t7LspsIR4J3aJF9U52rGHlE/r5sxA1Uupofw3ahpl2R1uNP/ue2oHU5QC5Fl525btXkNKBP/FlpeVtYM0nh+TN5CbvTsIy7l88wec6zagFLRKdg6XKfNIR4OO0vBDy68582Ha/TgbYoWlVRaCcB0/sAiANoP7Wmx0uojzJlW0QaYk2NV+tYncujewAJHpdabrXRlooh/yWOhNgMHEJVKjGm6ZppeU24cGI64xxmCfL3gOJbyJyAOSXF76h9OU2MD0X2BIauLRg8uRnD6ALspuMmXiI3EQcKhe1XXY/IGz7lMXlO8sXKxeyUjnPxvRyNwumoU1gOYGGCiv5NRQfqzL+nrsjLKiV6P+zzvIuStX1eLJD+c0DDM2B7Bjs5O0AEAxX700FtM5HiQhzs="

before_install:
  # Add `aws` CLI tool.
  - pip install --user awscli

install:
  # Fail if lockfile outdated.
  # https://yarnpkg.com/lang/en/docs/cli/install/#toc-yarn-install-frozen-lockfile
  - yarn install --frozen-lockfile

notifications:
  email:
    on_success: change
    on_failure: always

script:
  # Core library
  - yarn run build
  # Build all examples to make sure they're not broken.
  - yarn build-examples
  # All other checks.
  - yarn run check-ci

jobs:
  include:
    - stage: documentation
      node_js: '12'
      script:
        - cd docs
        - yarn install --frozen-lockfile
        - yarn run check-ci
        # Build and deploy to staging.
        - yarn run clean
        - yarn run build
        - yarn run deploy:stage
      deploy:
        # Deploy master to production
        - provider: script
          # Build and deploy to production.
          # _Note_: `deploy.script` must be a **single** command string
          script: >-
            yarn run clean &&
            yarn run build &&
            yarn run deploy:prod
          skip_cleanup: true
          on:
            branch: master
