@import './variables.scss';

* {
  box-sizing: inherit;
  min-width: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--oss-background-light);
  color: var(--oss-text-dark);
  font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto',
    'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: $font-sizes-body-small;
  font-weight: $font-weights-body;
  line-height: $line-heights-body;
  text-rendering: optimizeLegibility;

  @media ($media-breakpoint-lg) {
    font-size: $font-sizes-body;
  }
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--oss-link);
  font-weight: $font-weights-heading;

  &:hover {
    color: var(--oss-link-hover);
    text-decoration: none;
  }

  &:any-link:hover {
    // color: inherit;
    text-decoration: none;
  }
}

table,
pre,
p,
h1,
h2,
h3 {
  margin: 0 0 $spacing-md 0;
}

h1 {
  font-size: $font-sizes-h1;
  font-weight: $font-weights-heading;
  line-height: $line-heights-heading;
  color: var(--oss-text-light);
}
h2 {
  font-size: $font-sizes-h2;
  font-weight: $font-weights-heading;
  line-height: $line-heights-heading;
  color: var(--oss-text-light);
}
h3 {
  font-size: $font-sizes-h3;
  font-weight: $font-weights-heading;
  line-height: $line-heights-heading;
  color: var(--oss-text-light);
}
img {
  max-width: 100%;
}
