/**
 * The following variables will be used to style the entire website.
 * Any CSS included here will be global. The classic template bundles Infima by default
 * Infima is a CSS framework designed to work well for content-centric websites
 */

:root {
  /*
   * COLOR WHITE
   * background color in light mode
   * top nav item color
   * top nav title color
   * top nav icon color
   * footer text color
   */
  --oss-color-white: #ffffff;

  /*
   * COLOR BLACK
   * background color in light mode
   * sidebar menu item color
   * content header color
   * footer background color
   */
  --oss-color-black: #202020;

  /*
   * COLOR PRIMARY (hex and hsl)
   * 6 variations of this color will be generated (light/dark)
   * primary color when in light mode
   * sidebar menu active color
   */
  --oss-color-primary: #e13e65;
  --oss-color-primary-hs: 346, 73%;
  --oss-color-primary-l: 56%;
  /*
   * #cb2048 (-10%) anchor links and code blocks
   * #b51c40 (-15%) anchor link hovers
   * #731228 (-30%) 
   * #e86987 (+10%)
   * #eb7f98 (+15%) 
   * #f5c1cd (+30%) top nav item hover color
   */
  --oss-color-primary-shade-dark: hsl(
    var(--oss-color-primary-hs),
    calc(var(--oss-color-primary-l) - 10%)
  );
  --oss-color-primary-shade-darker: hsl(
    var(--oss-color-primary-hs),
    calc(var(--oss-color-primary-l) - 15%)
  );
  --oss-color-primary-shade-darkest: hsl(
    var(--oss-color-primary-hs),
    calc(var(--oss-color-primary-l) - 30%)
  );
  --oss-color-primary-shade-light: hsl(
    var(--oss-color-primary-hs),
    calc(var(--oss-color-primary-l) + 10%)
  );
  --oss-color-primary-shade-lighter: hsl(
    var(--oss-color-primary-hs),
    calc(var(--oss-color-primary-l) + 15%)
  );
  --oss-color-primary-shade-lightest: hsl(
    var(--oss-color-primary-hs),
    calc(var(--oss-color-primary-l) + 30%)
  );

  /*
   * COLOR PRIMARY DARK (hex and hsl)
   * primary color when in dark mode
   */
  --oss-color-primary-dark: #ff92ac;
  --oss-color-primary-dark-hs: 346, 100%;
  --oss-color-primary-dark-l: 79%;
  /*
   * #ff6186 (-10%) anchor links and code blocks
   * #ff4772 (-15%) anchor link hovers
   * #fa003a (-30%) 
   * #ffc7d4 (+10%) 
   * #ffe0e8 (+15%) 
   * #ffffff (+30%) top nav item hover color
   */
  --oss-color-primary-dark-shade-dark: hsl(
    var(--oss-color-primary-dark-hs),
    calc(var(--oss-color-primary-dark-l) - 10%)
  );
  --oss-color-primary-dark-shade-darker: hsl(
    var(--oss-color-primary-dark-hs),
    calc(var(--oss-color-primary-dark-l) - 15%)
  );
  --oss-color-primary-dark-shade-darkest: hsl(
    var(--oss-color-primary-dark-hs),
    calc(var(--oss-color-primary-dark-l) - 30%)
  );
  --oss-color-primary-dark-shade-light: hsl(
    var(--oss-color-primary-dark-hs),
    calc(var(--oss-color-primary-dark-l) + 10%)
  );
  --oss-color-primary-dark-shade-lighter: hsl(
    var(--oss-color-primary-dark-hs),
    calc(var(--oss-color-primary-dark-l) + 15%)
  );
  --oss-color-primary-dark-shade-lightest: hsl(
    var(--oss-color-primary-dark-hs),
    calc(var(--oss-color-primary-dark-l) + 30%)
  );

  /*
   * COLOR GREY LIGHT
   * right toc left border color
   */
  --oss-color-grey-light: #d9d9d9;

  /*
   * COLOR GREY DARK
   * global paragraph copy color
   * right toc link color
   */
  --oss-color-grey-dark: #606060;

  /*
   * COLOR GREY DARKER
   * used for background for the sidebar menu
   */
  --oss-color-grey-darker: #4e4e4e;

  /*
   * COLOR TAN LIGHT
   * used for background for the sidebar menu
   */
  --oss-color-tan-light: #f9f7f3;

  /*
   * COLOR TAN DARK
   * used for hover background for the sidebar menu
   */
  --oss-color-tan-dark: #f2ede4;

  /*
   * NAV BAR GRADIENT
   * colors used for gradient nav bar
   */
  --oss-navbar-gradient-start: #b4455a;
  --oss-navbar-gradient-end: #8e4453;

  /*
   * BORDER RADIUS
   * general border radius for buttons
   */
  --oss-border-radius: 0.1875rem; // 3px

  /*
   * LANDER COLORS
   * this block of variables is imported in the theme.js file
   */
  --oss-bg-color: var(--oss-color-tan-light);
  --oss-bg-dark: var(--oss-color-black);
  --oss-bg-light: var(--oss-color-white);
  --oss-text: var(--oss-color-grey-darker);
  --oss-text-dark: var(--oss-color-black);
  --oss-text-light: var(--oss-color-white);
  --oss-button: var(--oss-color-black);
  --oss-button-hover: var(--oss-color-primary);
  --oss-button-light: var(--oss-color-tan-light);
  --oss-button-light-hover: var(--oss-color-primary);
  --oss-link: var(--oss-color-primary);
  --oss-link-hover: var(--oss-color-primary-shade-light);
  --oss-input-bg: var(--oss-color-tan-dark);
}

/**********************************************************************
 * !! STOP !!
 * DO NOT EDIT BELOW THIS SECTION UNLESS YOU KNOW THE PASSWORD...
 * IF YOU DO EDIT BELOW, YOU SHOULD OVERIDE USING THE VARIABLES ABOVE
 **********************************************************************/

:root {
  // colors
  --ifm-color-primary: var(--oss-color-primary);
  --ifm-color-primary-dark: var(--oss-color-primary-shade-dark);
  --ifm-color-primary-darker: var(--oss-color-primary-shade-darker);
  --ifm-color-primary-darkest: var(--oss-color-primary-shade-darkest);
  --ifm-color-primary-light: var(--oss-color-primary-shade-light);
  --ifm-color-primary-lighter: var(--oss-color-primary-shade-lighter);
  --ifm-color-primary-lightest: var(--oss-color-primary-shade-lightest);

  // general
  --ifm-background-color: var(--oss-color-white);
  --ifm-heading-color: var(--oss-color-black);
  --ifm-font-color-base: var(--oss-color-grey-dark);
  --ifm-line-height-base: 1.75;
  --ifm-link-color: var(--ifm-color-primary-dark);
  --ifm-link-hover-color: var(--ifm-color-primary);

  // top nav
  --ifm-navbar-link-color: var(--oss-color-white);
  --ifm-navbar-link-hover-color: var(--ifm-color-primary-lightest);
  --ifm-navbar-shadow: none;
  --ifm-navbar-padding-horizontal: calc(var(--ifm-spacing-horizontal) * 1.875);
  --ifm-navbar-padding-vertical: calc(var(--ifm-spacing-vertical) * 0.5);

  // menu (left sidebar)
  --ifm-menu-color: var(--oss-color-black);
  --ifm-menu-color-active: var(--ifm-color-primary);
  --ifm-menu-color-background-hover: var(--oss-color-tan-dark);
  --ifm-menu-color-background-active: var(--oss-color-tan-dark);

  // table of contents (right sidebar)
  --ifm-toc-border-color: var(--oss-color-grey-light);
  --ifm-toc-link-color: var(--oss-color-grey-dark);

  // footer
  --ifm-footer-background-color: var(--oss-color-black);
  --ifm-footer-color: var(--oss-color-white);
  --ifm-footer-padding-horizontal: var(--ifm-spacing-horizontal);
  --ifm-footer-padding-vertical: var(--ifm-spacing-vertical);
}

[data-theme='dark']:root {
  // colors
  --ifm-color-primary: var(--oss-color-primary-dark);
  --ifm-color-primary-dark: var(--oss-color-primary-dark-shade-dark);
  --ifm-color-primary-darker: var(--oss-color-primary-dark-shade-darker);
  --ifm-color-primary-darkest: var(--oss-color-primary-dark-shade-darkest);
  --ifm-color-primary-light: var(--oss-color-primary-dark-shade-light);
  --ifm-color-primary-lighter: var(--oss-color-primary-dark-shade-lighter);
  --ifm-color-primary-lightest: var(--oss-color-primary-dark-shade-lightest);

  // general
  --ifm-background-color: var(--oss-color-black);
  --ifm-heading-color: var(--oss-color-white);
  --ifm-font-color-base: var(--oss-color-grey-light);
  --ifm-link-color: var(--ifm-color-primary-dark);
  --ifm-link-hover-color: var(--ifm-color-primary);

  // top nav
  --ifm-navbar-link-color: var(--oss-color-white);
  --ifm-navbar-link-hover-color: var(--ifm-color-primary-light);

  // menu (left sidebar)
  --ifm-menu-color: var(--oss-color-white);
  --ifm-menu-color-active: var(--ifm-color-primary);
  --ifm-menu-color-background-hover: var(--oss-color-grey-darker);
  --ifm-menu-color-background-active: var(--oss-color-grey-darker);

  // table of contents (right sidebar)
  --ifm-toc-border-color: var(--oss-color-grey-darker);
  --ifm-toc-link-color: var(--oss-color-grey-light);
}

/*****************************************************************
 * !! STOP !! STOP !!
 * YOU REALLY SHOULDN'T NEED TO EDIT BELOW THIS SECTION
 * CHANGES BELOW THIS SECTION MIGHT BREAK THE GENERAL VIBE
 *****************************************************************/

.container {
  padding: calc(var(--ifm-spacing-vertical) * 1.5)
    calc(var(--ifm-spacing-horizontal) * 1.5) !important;
}

code {
  color: var(--ifm-color-primary-dark);
}

// top navbar
.navbar {
  background: linear-gradient(
    50deg,
    var(--oss-navbar-gradient-start) 0%,
    var(--oss-navbar-gradient-end) 50%
  );
  padding: var(--ifm-navbar-padding-vertical)
    var(--ifm-navbar-padding-horizontal);

  @media (max-width: 996px) {
    padding: var(--ifm-navbar-padding-vertical)
      calc(var(--ifm-navbar-padding-horizontal) * 0.75);
  }

  .navbar__toggle {
    svg {
      path {
        stroke: var(--oss-color-white);
      }
    }
  }

  .navbar__title {
    color: var(--oss-color-white);
  }

  .navbar__link {
    font-weight: var(--ifm-font-weight-semibold);
  }

  .navbar__link--active {
    color: var(--ifm-navbar-link-color);

    &:hover {
      color: var(--ifm-navbar-link-hover-color);
    }
  }

  .navbar__items {
    .header-github-link {
      &:before {
        content: '';
        width: 24px;
        height: 24px;
        display: flex;
        background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23ffffff' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
          no-repeat;
      }

      &:hover {
        opacity: 0.75;
        transition: opacity 0.2s ease-in-out;
      }
    }

    .header-formidable-link {
      &:before {
        content: '';
        width: 26px;
        height: 26px;
        display: flex;
        background: url("data:image/svg+xml,%3Csvg fill='%23ffffff' viewBox='0 0 39 50' xmlns='http://www.w3.org/2000/svg' aria-labelledby='header-formidable-logo-icon'%0A%3E%3Ctitle id='header-formidable-logo-icon'%3EFormidable Icon%3C/title%3E%3Cpath d='M33.527 17.493l4.546-7.942c.145-.253.145-.56 0-.814L33.291.398V.38c-.018-.018-.036-.036-.036-.072l-.018-.019c-.018-.018-.036-.054-.054-.072-.018-.018-.055-.036-.073-.054l-.018-.018c-.018-.018-.036-.036-.054-.036 0 0-.018 0-.018-.019-.055-.036-.109-.054-.181-.072h-.019c-.018 0-.054-.018-.072-.018H5.561h-.018c-.019 0-.055 0-.073.018h-.018c-.054.018-.127.036-.181.072 0 0-.018 0-.018.019-.018.018-.037.018-.055.036L5.18.163c-.018.018-.054.036-.072.054-.018.018-.036.054-.055.072l-.018.019C5.017.326 5 .344 5 .38v.018L.11 8.738c-.145.253-.145.56 0 .813l4.673 8.159v26.863c0 .018 0 .054.018.072v.019c.018.054.036.126.072.18 0 0 0 .019.018.019.019.018.019.036.037.054l.018.018c.018.018.036.054.054.072.018.018.054.036.073.055l.018.018c.018.018.036.036.072.036h.018l8.35 4.775c.127.073.272.109.399.109.145 0 .271-.036.398-.109l8.35-4.775h.018c.018-.018.037-.036.073-.036l.018-.018c.018-.019.054-.037.072-.055.018-.018.037-.054.055-.072l.018-.018c.018-.018.036-.036.036-.054 0 0 0-.019.018-.019.036-.054.055-.108.073-.18v-.019c0-.018.018-.054.018-.072v-.018-9.57H32.657c.019 0 .055 0 .073-.018h.018c.054-.018.127-.036.181-.072 0 0 .018 0 .018-.018.018-.018.036-.018.055-.036l.018-.018c.018-.018.054-.036.072-.055.018-.018.036-.036.054-.072l.019-.018c.018-.018.036-.036.036-.072v-.018l4.782-8.34c.144-.253.144-.56 0-.814l-4.456-7.941zm-6.195 7.525H13.983c-.2-.018-.398.054-.561.181l-.019.018-.036.036c-.145.145-.235.344-.235.58v13.386l-6.738 3.853V18.289h24.778l-3.84 6.73zM21.5 43.054L14.762 39.2V27.786l6.738 6.73v8.538zM27.332 8.32H10.85L6.992 1.61H31.19l-3.858 6.711zM10.85 9.95h16.482l3.858 6.73H6.992l3.858-6.73zm21.735 5.898l-3.84-6.712 3.84-6.711 3.84 6.711-3.84 6.712zM5.597 2.424l3.84 6.711-3.84 6.712-3.858-6.712 3.858-6.711zm8.35 45.876l-6.72-3.835 6.72-3.835 6.72 3.835-6.72 3.835zm8.694-14.943l-6.738-6.729h11.43l3.857 6.73h-8.549zm9.944-.814l-3.84-6.71 3.84-6.712 3.84 6.711-3.84 6.711z' fill-rule='nonzero' %3E%3C/path%3E%3C/svg%3E%0A")
          no-repeat !important;
      }

      &:hover {
        opacity: 0.75;
        transition: opacity 0.2s ease-in-out;
      }
    }

    button {
      background: none !important;

      svg {
        width: 28px;
        height: 28px;
      }
      svg[class*='lightToggleIcon'] {
        path {
          fill: var(--oss-color-white);
        }
      }

      svg[class*='darkToggleIcon'] {
        path {
          fill: var(--oss-color-white);
        }
      }

      &:hover {
        opacity: 0.75;
        transition: opacity 0.2s ease-in-out;
      }
    }
  }

  .navbar-sidebar {
    .navbar__brand {
      margin-right: auto;
    }
    .navbar__title {
      color: var(--oss-color-white);

      @media (max-width: 996px) {
        color: var(--oss-color-black);
      }
    }

    .navbar-sidebar__close {
      margin-left: 0;
    }
  }
}

// left sidebar
aside.theme-doc-sidebar-container {
  border-right: none;
  background-color: var(--oss-color-tan-light);
  border-right: none;
}

// left sidebar menu
nav.menu {
  padding: calc(var(--ifm-navbar-padding-vertical) * 3)
    calc(var(--ifm-navbar-padding-horizontal) * 0.675);
  scrollbar-gutter: auto;

  .menu__list-item-collapsible {
    border-radius: var(--oss-border-radius);
    font-weight: var(--ifm-font-weight-bold);

    a {
      color: var(--ifm-menu-color);

      &:hover {
        color: var(--ifm-menu-color-active);
      }
    }
  }

  .theme-doc-sidebar-item-link-level-1 {
    &.menu__list-item {
      font-weight: var(--ifm-font-weight-bold);
    }
  }

  .theme-doc-sidebar-item-link-level-2 {
    &.menu__list-item {
      font-weight: var(--ifm-font-weight-normal);

      a {
        color: var(--oss-color-grey-dark);

        &:hover {
          color: var(--ifm-menu-color-active);
        }

        &.menu__link--active {
          color: var(--ifm-menu-color-active);
        }
      }
    }
  }

  .menu__caret,
  .menu__link {
    border-radius: var(--oss-border-radius);
    text-decoration: none;
  }
}

// ul.table-of-contents {
//   border-top: var(--oss-color-tan-light) solid 1px;

//   @media (max-width: 996px) {
//     border-top: none;
//   }
// }

.footer {
  border-top: none;

  // footer logo
  .footer__logo {
    margin-top: 0;
    max-width: 12.5rem;
  }

  .footer__copyright {
    font-size: 0.875rem;
  }
}

// DARK
[data-theme='dark'] {
  code {
    color: var(--ifm-color-primary-dark);
  }

  // top navbar
  .navbar {
    .navbar-sidebar {
      .navbar__title {
        @media (max-width: 996px) {
          color: var(--oss-color-white);
        }
      }
    }
  }

  // left sidebar
  aside.theme-doc-sidebar-container {
    background-color: var(--oss-color-black);
    border-right: 1px solid var(--oss-color-grey-darker);
  }

  // left sidebar menu
  nav.menu {
    .menu__list-item-collapsible {
      a {
        color: var(--ifm-menu-color);

        &:hover {
          color: var(--ifm-menu-color-active);
        }
      }
    }

    .theme-doc-sidebar-item-link-level-2 {
      &.menu__list-item {
        a {
          color: var(--oss-color-grey-light);

          &:hover {
            color: var(--ifm-menu-color-active);
          }

          &.menu__link--active {
            color: var(--ifm-menu-color-active);
          }
        }
      }
    }
  }

  // ul.table-of-contents {
  //   border-top: var(--oss-color-grey-dark) solid 1px;

  //   @media (max-width: 996px) {
  //     border-top: none;
  //   }
  // }

  .footer {
    border-top: 1px solid var(--oss-color-grey-darker);
  }
}
