$media-breakpoint-sm: 'min-width: 700px';
$media-breakpoint-md: 'min-width: 960px';
$media-breakpoint-lg: 'min-width: 1200px';

$font-sizes-small: 0.9em;
$font-sizes-body: 1.8rem;
$font-sizes-body-small: 1.5rem;
$font-sizes-code: 0.8em;
$font-sizes-h1: 5.8rem;
$font-sizes-h1-small: 4.5rem;
$font-sizes-h2: 3.2rem;
$font-sizes-h3: 2.2rem;

$font-weights-body: 400;
$font-weights-links: 500;
$font-weights-heading: 700;

$line-heights-body: 1.5;
$line-heights-heading: 1.1;
$line-heights-code: 1.2;

$spacing-xs: 0.6rem;
$spacing-sm: 1.5rem;
$spacing-md: 2.75rem;
$spacing-lg: 4.75rem;
$spacing-xl: 8.2rem;
