// - - - - - - - - - - - - - - - -
// REM SIZING CHEATER (0.0625)
// - - - - - - - - - - - - - - - -
// 1px => 0.06rem
// 2px => 0.13rem
// 4px => 0.25rem
// 5px => 0.3125rem
// 6px => 0.38rem
// 8px => 0.5rem
// 9px => 0.5625rem
// 10px => 0.625rem
// 12px => 0.75rem
// 13px => 0.81rem
// 14px => 0.875rem
// 15px => 0.94rem
// 16px => 1rem
// 17px => 1.06rem
// 18px => 1.125rem
// 20px => 1.25rem
// 22px => 1.375rem
// 24px => 1.5rem
// 26px => 1.625rem
// 28px => 1.75rem
// 30px => 1.875rem
// 32px => 2rem
// 34px => 2.125rem
// 35px => 2.1875rem
// 36px => 2.25rem
// 38px => 2.375rem
// 40px => 2.5rem
// 42px => 2.625rem
// 44px => 2.75rem
// 45px => 2.8125rem
// 46px => 2.875rem
// 48px => 3rem
// 50px => 3.125rem
// 55px => 3.4375rem
// 56px => 3.5rem
// 58px => 3.63rem
// 60px => 3.75rem
// 62px => 3.875rem
// 64px => 4rem
// 70px => 4.375rem
// 75px => 4.69rem
// 76px => 4.75rem
// 80px => 5rem
// 100px => 6.25rem
// 120px => 7.5rem
// 140px => 8.75rem
// 180px => 11.25rem
// 200px => 12.5rem
// 220px => 13.75rem
// 260px => 16.25rem
// 300px => 18.75rem
// 520px => 32.5rem
// 560px => 35rem
// - - - - - - - - - - - - - - - -

$media-breakpoint-sm: 'min-width: 700px';
$media-breakpoint-md: 'min-width: 960px';
$media-breakpoint-lg: 'min-width: 1200px';

$font-sizes-small: 0.5625rem;
$font-sizes-body: 1.125rem;
$font-sizes-body-small: 0.94rem;
$font-sizes-code: 0.5rem;
$font-sizes-h1: 3.63rem;
$font-sizes-h1-small: 2.8125rem;
$font-sizes-h2: 2rem;
$font-sizes-h3: 1.375rem;

$font-weights-body: 400;
$font-weights-links: 500;
$font-weights-heading: 700;

$line-heights-body: 1.5;
$line-heights-heading: 1.1;
$line-heights-code: 1.2;

$spacing-xs: 0.38rem;
$spacing-sm: 0.94rem;
$spacing-md: 1.72rem;
$spacing-lg: 2.97rem;
$spacing-xl: 5.13rem;

// backup
// $font-sizes-small: 0.9em;
// $font-sizes-body: 1.8rem;
// $font-sizes-body-small: 1.5rem;
// $font-sizes-code: 0.8em;
// $font-sizes-h1: 5.8rem;
// $font-sizes-h1-small: 4.5rem;
// $font-sizes-h2: 3.2rem;
// $font-sizes-h3: 2.2rem;

// $font-weights-body: 400;
// $font-weights-links: 500;
// $font-weights-heading: 700;

// $line-heights-body: 1.5;
// $line-heights-heading: 1.1;
// $line-heights-code: 1.2;

// $spacing-xs: 0.6rem;
// $spacing-sm: 1.5rem;
// $spacing-md: 2.75rem;
// $spacing-lg: 4.75rem;
// $spacing-xl: 8.2rem;
