@import '../../css/variables.scss';

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0;

  a {
    margin: 1.25rem auto; // 20px
  }

  @media ($media-breakpoint-sm) {
    flex-direction: row;

    a {
      margin: 1.875rem; // 30px
    }
  }
}
