@import '../../css/variables.scss';

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0;

  a {
    margin: 1.25rem auto;
  }

  @media ($media-breakpoint-sm) {
    flex-direction: row;
    margin-top: 0;

    a {
      margin: 1.875rem;
    }
  }
}
