@import '../../css/variables.scss';

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7.5rem;
  width: 100%;
  > * {
    margin-top: 0;
    margin-bottom: 0;
  }
  > * + * {
    margin-top: 1.25rem;
  }

  @media ($media-breakpoint-sm) {
    display: grid;
    grid-template-areas:
      'a . b'
      'a . b'
      'a . b'
      'a . c'
      'd d d';
    margin-top: 12.5rem;
    padding: 0 1.25rem;
    > * + * {
      margin-top: 0;
    }
  }

  .heroBody {
    > * {
      margin-top: 0;
      margin-bottom: 0;
    }
    > * + * {
      margin-top: 1.25rem;
    }

    @media ($media-breakpoint-sm) {
      grid-area: b;
      max-width: 32.5rem;
      margin-left: 3.75rem;
    }

    @media ($media-breakpoint-md) {
      margin-left: 0;
    }

    .heroBody__title {
      font-size: $font-sizes-h1-small;
      letter-spacing: 0.06rem;
      text-align: center;
      text-transform: uppercase;
      font-weight: $font-weights-heading;
      line-height: $line-heights-heading;
      color: var(--oss-text-light);
      margin: 0 0 $spacing-md 0;

      @media ($media-breakpoint-sm) {
        font-size: $font-sizes-h1;
        text-align: left;
      }
    }

    .heroBody__tagline {
      font-family: Helvetica;
      font-size: 0.875rem;
      line-height: 1.375rem;
      max-width: 18.75rem;
      text-align: center;

      @media ($media-breakpoint-sm) {
        font-size: 1.25rem;
        line-height: 1.75rem;
        max-width: none;
        text-align: left;
      }
    }

    .heroBody__buttons {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      > * {
        margin-top: 0;
        margin-bottom: 0;
      }
      > * + * {
        margin-top: 1.25rem;
      }
      @media ($media-breakpoint-md) {
        align-items: center;
        flex-direction: row;
        > * {
          margin-left: 0;
          margin-right: 0;
        }
        > * + * {
          margin-top: 0;
          margin-left: 1.25rem;
        }
      }

      .button__docs {
        width: 18.75rem;
        height: 2.8125rem;
        font-size: 0.875rem;
        background: var(--oss-button-light);
        transition: background 0.25s ease-out;
        line-height: 2.8125rem;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.06rem;
        color: var(--oss-text-dark);
        border: 0;
        border-radius: var(--oss-border-radius);
        font-weight: $font-weights-heading;

        @media ($media-breakpoint-md) {
          margin-top: 0;
          width: 11.25rem;
        }

        &:hover {
          color: var(--oss-text-light);
          background: var(--oss-button-light-hover);
        }
      }
    }
  }

  .heroNav {
    border-top: 0.13rem solid var(--oss-text-light);
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 1.25rem 0 0;
    text-align: center;

    @media ($media-breakpoint-sm) {
      grid-area: d;
      width: 100%;
      margin-top: 1.25rem;
    }

    @media ($media-breakpoint-md) {
      grid-area: c;
      margin: 1.375rem 0 0;
      width: 100%;
      max-width: 32.5rem;
    }
    > * {
      margin-left: 0;
      margin-right: 0;
    }
    > * + * {
      margin-left: 2.5rem;
    }

    & li a {
      color: var(--oss-text-light);
      font-size: 1.06rem;
      letter-spacing: 0.06rem;
      transition: opacity 0.4s ease-out;
      text-decoration: none;
      font-weight: $font-weights-heading;

      &:hover {
        color: var(--oss-button-light-hover);
      }
    }
  }
}
