@import '../../css/variables.scss';

.wrapper {
  background: url('../../../static/img/background-banner.png');
  background-size: cover;
  background-repeat: none;
  justify-content: center;

  @media ($media-breakpoint-md) {
    flex-direction: row;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  padding: $spacing-md 0 $spacing-md;
  color: var(--oss-text-light);
  max-width: $container-xl;

  @media ($media-breakpoint-md) {
    margin: 0 $spacing-xxxl 0 $spacing-xxxl;
    padding: $spacing-xxl 0 $spacing-xxl;
    flex-direction: row;
  }

  @media ($media-breakpoint-lg) {
    gap: 6rem;
  }

  .badge {
    align-self: center;
    width: 320px;
    height: 320px;
  }

  .heroBody {
    @media ($media-breakpoint-md) {
      max-width: 50%;
    }

    .heroBody__title {
      font-size: $font-sizes-h1-small;
      letter-spacing: $letter-spacing-lg;
      text-align: center;
      text-transform: uppercase;
      font-weight: $font-weights-heading;
      line-height: $line-heights-heading;
      color: var(--oss-text-light);
      margin: 0 0 $spacing-sm 0;

      @media ($media-breakpoint-md) {
        font-size: $font-sizes-h1;
        text-align: left;
      }
    }

    .heroBody__tagline {
      font-family: Helvetica;
      font-size: $font-sizes-tagline-sm;
      line-height: $line-heights-tagline-small;
      max-width: $sizing-lg;
      text-align: center;

      @media ($media-breakpoint-md) {
        font-size: $font-sizes-tagline;
        line-height: $line-heights-tagline;
        max-width: none;
        text-align: left;
      }
    }

    .heroBody__buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: $spacing-sm;
      > * {
        margin-top: 0;
        margin-bottom: 0;
      }
      > * + * {
        margin-top: $spacing-xs;
      }
      @media ($media-breakpoint-md) {
        align-items: center;
        flex-direction: row;
        justify-content: start;
      }
    }
  }

  .heroNav {
    display: flex;
    justify-content: start;
    list-style: none;
    padding: 0;
    text-align: center;

    @media ($media-breakpoint-sm) {
      grid-area: bottom;
      width: 100%;
      margin-top: $spacing-xs;
    }

    @media ($media-breakpoint-md) {
      grid-area: right2;
      margin: $spacing-sm 0 0;
      width: 100%;
      max-width: $container-xs;
    }
    > * {
      margin-left: 0;
      margin-right: 0;
    }
    > * + * {
      margin-left: $spacing-md;
    }

    & li a {
      color: var(--oss-text-light);
      font-size: $font-sizes-link-large;
      letter-spacing: $letter-spacing-lg;
      transition: all 0.2s ease-in-out;
      text-decoration: none;
      font-weight: $font-weights-link;

      &:hover {
        color: var(--oss-button-light-hover);
      }
    }
  }
}
