@import '../../css/variables.scss';

.footerContainer {
  display: flex;
  flex-direction: column;

  @media ($media-breakpoint-md) {
    flex-direction: row;
  }

  > * {
    flex-basis: 50%;
  }
}

.footerLeft {
  display: flex;
  padding: 0;
  text-align: left;
  flex-direction: column;

  @media ($media-breakpoint-md) {
    flex-direction: row;
  }
}

.footerDescription {
  font-size: $font-sizes-body-xs;
  line-height: $line-heights-footer;
  max-width: 35rem;
  margin: 0 auto;
  text-align: center;
  color: var(--oss-text-light);

  @media ($media-breakpoint-md) {
    text-align: left;
    font-size: $font-sizes-body-sm;
    line-height: $line-heights-footer;
  }

  & a {
    color: var(--oss-button-light);
    transition: color 0.2s ease-out;

    :hover {
      color: var(--oss-button-light-hover);
    }
  }
}

.footerCopyright {
  font-size: $font-sizes-body-xs;
  line-height: $line-heights-footer;
  width: 100%;
  margin: $spacing-sm auto 0;
  text-align: center;
  color: var(--oss-text-light);

  @media ($media-breakpoint-md) {
    text-align: left;
    font-size: $font-sizes-body-sm;
  }

  & a {
    margin-left: 0;
    display: block;
    color: var(--oss-button-light);
    transition: color 0.2s ease-out;

    @media ($media-breakpoint-md) {
      margin-left: 3.75rem;
      display: inline-block;
    }

    :hover {
      color: var(--oss-button-light-hover);
    }
  }
}

.footerLogo {
  height: auto;
  width: $width-height-xs;
}

.footerLinks {
  font-size: $font-sizes-body-sm;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  list-style: none;
  padding: 0;
  text-transform: uppercase;
  margin: $spacing-sm auto;

  > * {
    margin-top: 0;
    margin-bottom: 0;
  }

  > * + * {
    margin-top: 0.625rem;
    margin-left: 0;
  }

  @media ($media-breakpoint-sm) {
    flex-direction: row;

    > * + * {
      margin-top: 0;
      margin-left: 2.5rem;
    }
  }

  @media ($media-breakpoint-md) {
    flex-direction: column;
    align-items: flex-start;
    margin: 0 3.75rem 0 auto;

    > * + * {
      margin-top: $spacing-sm;
      margin-left: 0;
    }
  }

  li a {
    color: var(--oss-button-light);
    letter-spacing: $letter-spacing-lg;
    transition: color 0.2s ease-out;
    font-weight: $font-weights-link;

    &:hover {
      color: var(--oss-button-light-hover);
    }
  }
}
