@import '../../css/variables.scss';

.header {
  padding: 0 0 8.75rem;
  color: var(--oss-text-light);
  background: var(--oss-text-dark);
  background-image: linear-gradient(14deg, #404a5f, #7f526a);
  background-size: cover;

  @media ($media-breakpoint-sm) {
    background-image: url('/img/hero-bg.jpg'),
      linear-gradient(
        194deg,
        #77414b,
        #564c60 18%,
        #0d4a5d 73%,
        #023340,
        #023340,
        #023340
      );
  }
}

.triangle {
  position: absolute;
  left: -0.25rem;
  top: -0.25rem;
  height: auto;
  width: 12.5rem;
  transition: width 0.1s ease-in-out;

  @media ($media-breakpoint-sm) {
    width: 16.25rem;
  }

  @media ($media-breakpoint-md) {
    width: 18.75rem;
  }
}

.badge {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
  font-size: 0.5rem;
  color: var(--oss-text-light);
  font-weight: $font-weights-heading;
  transition: font-size 0.1s ease-in-out, left 0.1s ease-in-out,
    top 0.1s ease-in-out;

  @media ($media-breakpoint-sm) {
    left: 1.75rem;
    top: 1.75rem;
    font-size: 0.75rem;
  }

  @media ($media-breakpoint-md) {
    left: 2.25rem;
    top: 2.25rem;
  }
  > * {
    margin-top: 0;
    margin-bottom: 0;
  }
  > * + * {
    margin-top: 0.625rem;
  }

  &:hover {
    color: var(--oss-text-light);
    background: none;
    text-decoration: none;
  }

  .badge__text {
    text-transform: uppercase;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: 1.5;
    letter-spacing: 0.86px;
    max-width: 6.25rem;
  }

  .badge__logo {
    height: auto;
    width: 2.5rem;
    transition: width 0.1s ease-in-out;

    @media ($media-breakpoint-sm) {
      width: 3.75rem;
    }

    @media ($media-breakpoint-md) {
      width: 4.375rem;
    }
  }
}
