@import '../../css/variables.scss';

.ossImage {
  margin-right: auto;
  margin-left: auto;
  height: $sizing-xs;
  width: $sizing-xs;
  max-width: $sizing-xs;
  padding: 0;
  cursor: pointer;

  @media ($media-breakpoint-sm) {
    width: $sizing-md;
    height: $sizing-md;
    max-width: $sizing-md;
    max-width: initial;
    grid-area: left / left / left / left;
    place-self: flex-start flex-end;
  }

  @media ($media-breakpoint-md) {
    width: $sizing-xl;
    height: $sizing-xl;
    max-width: $sizing-xl;
    margin-right: 0;
    margin-left: auto;
  }

  &:hover {
    background: none;
    cursor: default;

    &.hoverable {
      cursor: pointer;
    }
  }
}
