@import '../../css/variables.scss';

.sectionTitle {
  color: var(--oss-text-light);
  font-size: $font-sizes-h2;
  font-weight: $font-weights-heading;
  flex: auto;
  line-height: 1.3;
  margin: 2rem 0 3rem;
  width: 100%;
  text-align: center;

  @media ($media-breakpoint-sm) {
    margin: 2rem 0 6rem;
  }

  @media (max-width: 768px) {
    margin: 4rem 0;
  }

  &.light {
    color: var(--oss-text-dark);
  }
}
