@import '../../css/variables.scss';

.sectionTitle {
  color: var(--oss-text-light);
  font-size: $font-sizes-h2;
  font-weight: $font-weights-heading;
  flex: auto;
  line-height: $line-heights-heading;
  // margin: 2rem 0 3rem;
  width: 100%;
  text-align: center;
  margin: 1.25rem 0 $spacing-md 0;

  @media ($media-breakpoint-sm) {
    margin: 1.25rem 0 3.75rem;
  }

  @media (max-width: 768px) {
    margin: 2.5rem 0;
  }

  &.light {
    color: var(--oss-text-dark);
  }
}
