@import '../../css/variables.scss';

.sectionTitle {
  color: var(--oss-text-light);
  font-size: $font-sizes-h2;
  font-weight: $font-weights-heading;
  flex: auto;
  line-height: $line-heights-heading;
  margin: $spacing-xl 0;
  width: 100%;
  text-align: center;

  @media ($media-breakpoint-sm) {
    margin: 0;
  }

  &.light {
    color: var(--oss-text-dark);
  }
}
