.cm-s-elegant span.cm-number, .cm-s-elegant span.cm-string, .cm-s-elegant span.cm-atom { color: #43A047; }
.cm-s-elegant span.cm-comment { color: #9E9E9E; font-style: italic; line-height: 1em; }
.cm-s-elegant span.cm-meta { color: #555; font-style: italic; line-height: 1em; }
.cm-s-elegant span.cm-variable { color: black; }
.cm-s-elegant span.cm-variable-2 { color: #D32F2F; }
.cm-s-elegant span.cm-qualifier { color: #555; }
.cm-s-elegant span.cm-keyword { color: #9C27B0; }
.cm-s-elegant span.cm-attribute { color: #9C27B0; }
.cm-s-elegant span.cm-builtin { color: #1976D2; }
.cm-s-elegant span.cm-tag { color: #1976D2; }
.cm-s-elegant span.cm-link { color: #43A047; }
.cm-s-elegant span.cm-error { background-color: #fdd; }

.cm-s-elegant .CodeMirror-activeline-background { background: #e8f2ff; }
.cm-s-elegant .CodeMirror-matchingbracket { outline:1px solid grey; color:black !important; }
