name: CI

# Runs build and test on:
#   every push that has a change in a file not in the docs folder
#   every pull request with main branch as the base that has a change
#     in a file not in the docs folder
on:
  push:
    branches:
      - main
    paths:
      - '**'
      - '!docs/**'
  pull_request:
    branches:
      - main
    paths:
      - '**'
      - '!docs/**'

jobs:
  build:
    name: Check and build codebase
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x, 16.x]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - uses: pnpm/action-setup@v2.2.2
        with:
          version: 7

      - name: Get pnpm store directory
        id: pnpm-cache
        run: echo "::set-output name=pnpm_cache_dir::$(pnpm store path)"

      - name: Setup pnpm cache
        uses: actions/cache@v3
        with:
          path: ${{ steps.pnpm-cache.outputs.pnpm_cache_dir }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('./pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install

      - name: Check Code ${{ matrix.node-version }}
        run: yarn check-ci

        # NOTE! build-examples also builds the core.
        #  This dependency will be more explicit with wireit
      - name: Build Examples ${{ matrix.node-version }}
        run: yarn build-examples
